<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="JJLLinDBConnection"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB; AttachDbFilename=C:\temp\JJLLinDatabase.mdf;Integrated Security=True; MultipleActiveResultSets=True; Connect Timeout=30"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>